<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.example.android.testing.blueprint"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22"
        tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <application
        android:theme="@style/Theme.AppCompat">
        <activity android:name="com.gsma.mobileconnect.r2.android.TestActivity"/>
    </application>

</manifest>